<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= api %>">
    </script>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="map-canvas"></div>

    <script type="text/javascript">
    (function (root) {
/* -- Data -- */
root.locations = <%- locations %>

}(this));


//Take a subway (http://web.mta.info/maps/submap.html)

      function initialize() {
        //40.712784, -74.005941
        var mapOptions = {
          center: { lat: 40.712, lng: -74.005},
          zoom: 11
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        for (var i = 0; i < locations.length; i++) {
            new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i].lat,locations[i].lng),
                  map: map,
                  title: locations[i].name
              });
            locations[i]
        };
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </body>
</html>
